/* Container for the whole page */
div,
header {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the notes section */
.notes-section {
  margin-bottom: 2rem;
}

.notes-section h2 {
  color: #333;
  font-size: 24px;
}
.container {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  color: #007bff;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: calc((100vh / 10) - 20px);
  align-items: center;
  position: fixed;
  padding: 30px;
  top: 0;
  left: 0;
  background-color: #e4e1e1ad;
}

.logout-btn {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
}

.logout-btn:hover {
  background-color: #d32f2f; /* Darker red */
}

/* Styles for individual notes - assuming your Note component has some container element */
.note {
  background-color: #f9f9f9;
  border-left: 5px solid #007bff;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
}

.title1 {
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
}

.NB {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

/* Styles for the form section */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form input,
form textarea,
.submit-btn {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}
