/* html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
